#contWrap {
  overflow: hidden;
}

#left_menu {
  margin-top: 200px;
  position: relative;
  width: 260px;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  float: left;
  z-index: 999;
}

#left_menu .left_menu {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#left_menu .left_menu .list {
  background-color: #fff;
  width: 100%;
}

#left_menu .left_menu .list>li {
  background: #fff;
  border-bottom: 1px solid #ededed;
}

#left_menu .left_menu .list>li>a {
  position: relative;
  padding: 20px 50px;
  display: block;
  color: #222;
  font-weight: 400;
  letter-spacing: -0.5pt;
  z-index: 10;
  line-height: 1;
  background-repeat: no-repeat;
  background-position: top 54% left 13px;
}

#admincontents {
  position: relative;
  width: calc(100% - 260px);
  padding: 20px !important;
  box-sizing: border-box;
  margin-left: 260px;
  background: #eceff4;
  height: 100%;
  min-height: 1009px;
  min-width: 320px;
}

#admincontents .tab_button {
  display: block;
  width: 20px;
  height: 35px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #dddddd;
  border-left: 0;
  background: #fff url(/resources/images/tab_Arrow_left.png)no-repeat center;
  position: absolute;
  top: 180px;
  left: 0;
  z-index: 999;
  cursor: pointer;
}

#left_menu .left_menu .list a:hover {
  background-color: #eceff4;
  color: #1bceb8 !important;
}

#conWrap #admincontents .lists {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px;
  background: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px 30px;
}

#conWrap #admincontents .lists h3 {
  font-size: 1.176rem;
  color: #222;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.6pt;
  text-align: center;
}

#conWrap #left_menu .left_menu .list .icon01 a {
  background-image: url(/resources/images/mypage_g.png);
}

#conWrap #left_menu .left_menu .list .icon02 a {
  background-image: url(/resources/images/left_icon07.png);
}

#conWrap #left_menu .left_menu .list .icon03 a {
  background-image: url(/resources/images/left_icon01.png);
}

#conWrap #left_menu .left_menu .list .icon04 a {
  background-image: url(/resources/images/left_icon02.png);
}

#conWrap #left_menu .left_menu .list .icon05 a {
  background-image: url(/resources/images/left_icon03.png);
}