<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
 	<typeAliases>

  		<typeAlias type="com.ac.home.qna.QnaDTO" alias="QnaDTO"/>
  		<typeAlias type="com.ac.home.cr.CrDTO" alias="CrDTO"/>

 		<typeAlias type="com.ac.home.member.MemberDTO" alias="MemberDTO"/>
 		<typeAlias type="com.ac.home.member.RoleDTO" alias="RoleDTO"/>

 		<typeAlias type="com.ac.home.notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.ac.home.notice.NoticeFileDTO" alias="NoticeFileDTO"/>

  		<typeAlias type="com.ac.home.event.EventDTO" alias="EventDTO"/>
  		<typeAlias type="com.ac.home.event.EventFileDTO" alias="EventFileDTO"/>

 		<typeAlias type="com.ac.home.product.ProductDTO" alias="ProductDTO"/>
 		<typeAlias type="com.ac.home.product.ProductImgDTO" alias="ProductImgDTO"/>
 		<typeAlias type="com.ac.home.util.Pager" alias="Pager"/>
 		
 		
 		<typeAlias type="com.ac.home.cart.CartDTO" alias="CartDTO"/>

 		<typeAlias type="java.lang.Long" alias="Long"/>

 	</typeAliases>

 </configuration>
