<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ac.home.cart.CartDAO">
  
  	<select id="getCartList" resultMap="cartProductJoin">
  		SELECT *
		FROM CART
		LEFT OUTER JOIN
		PRODUCT
		USING(NUM)
		LEFT OUTER JOIN
		PRODUCTIMG
		USING(NUM)
  	</select>
  	
  	<resultMap type="CartDTO" id="cartProductJoin">
 		<id column="CARTNUM" property="cartNum"/>
 		<result column="ID" property="id"/>
 		<result column="NUM" property="num"/>
 	
 		<collection property="productDTOs" javaType="List" ofType="ProductDTO">
 			<id column="NUM" property="num"/>
 			<result column="TITLE" property="title"/>
 			<result column="PRICE" property="price"/>
 			<result column="SALEQTY" property="saleQty"/>
 			<result column="INFO" property="info"/>
 			<result column="REGDATE" property="regDate"/>
 			<result column="GRADE" property="grade"/>
 		</collection>
 		
 		<collection property="productImgDTOs" javaType="List" ofType="ProductImgDTO">
 			<id column="FILENUM" property="fileNum"/>
 			<result column="SAVE" property="save"/>
 			<result column="UPLOAD" property="upLoad"/>
 		</collection>
 	</resultMap>
  
	<insert id="setCartAdd" parameterType="CartDTO">
		INSERT INTO CART (CARTNUM, ID, NUM) 
		VALUES (CART_SEQ.NEXTVAL, #{id}, #{num})
	</insert>
	
	<delete id="setCartDelete" parameterType="CartDTO">
		DELETE CART WHERE CARTNUM = #{cartNum}
	</delete>
	
	<select id="getSumPrice" resultType="Long" parameterType="CartDTO">
		SELECT SUM(PRICE)
		FROM CART
		JOIN PRODUCT
		USING(NUM)
		WHERE ID = #{id}
	</select>
  
  </mapper>