<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ac.home.orders.OrdersDAO">
  
  	<sql id="ordersCondition">
	  			
	  	<if test="kind == 'title'">
	  		WHERE TITLE LIKE '%' || #{search} || '%'
	  	</if>
	  			
	  	<if test="kind == 'contents'">
	  		WHERE CONTENTS LIKE '%' || #{search} || '%'
	  	</if>
	  			
	  	<if test="kind == 'writer'">
	  		WHERE WRITER LIKE '%' || #{search} || '%'
	  	</if>
	  		
  	</sql>
  
 	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(ORDERNUM) FROM ORDERS
		
		<include refid="ordersCondition"></include>
	</select>
  	
  	<select id="getOrdersList" parameterType="Pager" resultType="OrdersDTO">
  		SELECT * FROM
  			(
	  			SELECT ROWNUM R, N.* FROM
		  			(
			  			SELECT ORDERNUM, ID, ALLPRICE, FINALPRICE, PURCHASEDATE, STATE FROM ORDERS
			  			<include refid="ordersCondition"></include>
			  			ORDER BY ORDERNUM DESC
		  			) N
  			)
  			WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  
  	<select id="getOrdersDetail" parameterType="OrdersDTO" resultType="OrdersDTO">
  		SELECT * FROM ORDERS
  		WHERE ORDERNUM = #{orderNum}
  	</select>
  	
  	<insert id="setOrdersAdd" parameterType="OrdersDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			SELECT ORDERS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
  		INSERT INTO ORDERS
  		VALUES (#{orderNum}, #{id}, #{allPrice}, #{finalPrice}, SYSDATE, #{state})
  	</insert>
  	
  	<update id="setOrdersUpdate" parameterType="OrdersDTO">
  		UPDATE QNA SET TITLE = #{title}, CONTENTS = #{contents}
  		WHERE ORDERNUM = #{orderNum}
  	</update>
  	
  	<delete id="setOrdersDelete" parameterType="OrdersDTO">
  		DELETE ORDERS WHERE ORDERNUM = #{orderNum}
  	</delete>
  	
  
  
	
  	
  </mapper>