<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ac.home.orders.OrdersDAO">
  
  	<sql id="ordersCondition">
	  			
	  	<if test="kind == 'title'">
	  		WHERE TITLE LIKE '%' || #{search} || '%'
	  	</if>
	  			
	  	<if test="kind == 'contents'">
	  		WHERE CONTENTS LIKE '%' || #{search} || '%'
	  	</if>
	  			
	  	<if test="kind == 'writer'">
	  		WHERE WRITER LIKE '%' || #{search} || '%'
	  	</if>
	  		
  	</sql>
  
 	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(ORDERNUM) FROM ORDERS
		
		<include refid="ordersCondition"></include>
	</select>
  	
  	<select id="getOrdersList" parameterType="Pager" resultType="OrdersDTO">
  		SELECT * FROM
  			(
	  			SELECT ROWNUM R, N.* FROM
		  			(
			  			SELECT ORDERNUM, PURCHASEDATE, TITLE, INFO FROM ORDERS
			  			<include refid="ordersCondition"></include>
			  			ORDER BY ORDERNUM ASC
		  			) N
  			)
  			WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  
  	<select id="getOrdersDetail" parameterType="OrdersDTO" resultMap="ordersDetailResult">
  		SELECT * FROM ORDERS
  		WHERE ORDERNUM = #{orderNum}
  	</select>
  	<resultMap type="OrdersDTO" id="ordersDetailResult">
 		<id column="ORDERNUM" property="orderNum"/>
 		<result column="PURCHASEDATE" property="purchaseDate"/>
 		<result column="TITLE" property="title"/>
 		<result column="INFO" property="info"/>
  	
  	</resultMap>
  	<insert id="setOrdersAdd" parameterType="OrdersDTO">
  		<selectKey keyProperty="orderNum" resultType="Long" order="BEFORE">
			SELECT ORDERS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
  		INSERT INTO ORDERS
  		VALUES ( #{orderNum} ,SYSDATE, #{title}, #{info})
  	</insert>
  	
  	<update id="setOrdersUpdate" parameterType="OrdersDTO">
  		UPDATE ORDERS SET TITLE = #{title}, INFO = #{info}
  		WHERE ORDERNUM = #{orderNum}
  	</update>
  	
  	<delete id="setOrdersDelete" parameterType="OrdersDTO">
  		DELETE ORDERS WHERE ORDERNUM = #{orderNum}
  	</delete>
  	
  
  
	
  	
  </mapper>